<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PdfMergeSplitTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PdfMergeSplitTool.Properties.Settings>
            <setting name="OptAddExistingBookmarks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastCheckVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Price" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowPromotion" serializeAs="String">
                <value>True</value>
            </setting>
        </PdfMergeSplitTool.Properties.Settings>
    </userSettings>
</configuration>